@import 'ember-paper';

#remotestorage-widget {
  top: 5px !important;
}

button a {
  text-decoration: none;
  color: inherit;
  display: block;
}

.md-list-item-inner a {
  text-decoration: none;
  color: inherit;
  display: block;
}

@font-face {
  font-family: 'RobotoDraft';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/RobotoDraft.woff2) format('woff2'), url(../fonts/RobotoDraft.woff) format('woff');
}

@font-face {
  font-family: 'RobotoDraft';
  font-style: normal;
  font-weight: 500;
  src: url(../fonts/RobotoDraft-Medium.woff2) format('woff2'), url(../fonts/RobotoDraft-Medium.woff) format('woff');
}

@font-face {
  font-family: 'RobotoDraft';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/RobotoDraft-Bold.woff2) format('woff2'), url(../fonts/RobotoDraft-Bold.woff) format('woff');
}

@font-face {
  font-family: 'RobotoDraft';
  font-style: italic;
  font-weight: 400;
  src: url(../fonts/RobotoDraft-Italic.woff2) format('woff2'), url(../fonts/RobotoDraft-Italic.woff) format('woff');
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/MaterialIcons-Regular.woff2) format('woff2'),
       url(../fonts/MaterialIcons-Regular.woff) format('woff'),
       url(../fonts/MaterialIcons-Regular.ttf) format('truetype');
}
