<div class="list-group">
  {{#each model}}
    <div class="list-group-item account">
      <div class="row">
        <div class="col-xs-10">
          {{#link-to 'account' this}}
            {{name}}
          {{/link-to}}
        </div>
        <div class="col-xs-2 amount">
          {{balance}}
        </div>
      </div>
    </div>
  {{/each}}
</div>
