{{nav-bar}}
<div class="container">
  <div class="list-group">
    {{#each content}}
      {{#link-to 'account' this class="list-group-item account"}}
        {{name}}
        <div class="pull-right amount">
          {{balance}}
        </div>
      {{/link-to}}
    {{/each}}
  </div>

  <p>
    {{#link-to 'new_account' class="add-account btn btn-default pull-right"}}
      <span class="glyphicon glyphicon-plus"></span> Add Account
    {{/link-to}}
  </p>
</div>
