{{#nav-bar}}
  {{#link-to "new_account" class="navbar-brand"}}
    <span class="glyphicon glyphicon-plus"></span>
  {{/link-to}}
{{/nav-bar}}
<div class="container">
  <div class="list-group">
    {{#each content}}
      {{#link-to 'account' this class="list-group-item account"}}
        {{name}}
        <div class="pull-right amount">
          {{balance}}
        </div>
      {{/link-to}}
    {{/each}}
  </div>
</div>
