<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="navbar-header">
    <a class="navbar-brand" href="#">
      Ramit
    </a>
    <p class="navbar-text">
      <a href="#help" class="navbar-link"><span class="glyphicon glyphicon-question-sign"></span></a>
    </p>
  </div>
</nav>
<div class="container" style="margin-top: 60px">
  {{outlet}}
</div>
