{{nav-bar title="Add Account" back-route="accounts"}}
{{#paper-content class="md-padding"}}
  <form {{action "createAccount" on="submit"}}>
    {{paper-input value=name required=true placeholder="choose an account name, e.g. eating out" name="name"}}
    {{#paper-button noink=true type="submit" primary=true raised=true}}
      {{paper-icon icon="add"}}
      Add Account
    {{/paper-button}}
  </form>
{{/paper-content}}
