<div class="panel panel-default">
  <div class="panel-heading">
    {{#link-to 'account' model class="close"}}&times;{{/link-to}}
    <h3 class="panel-title">Add Transaction</h3>
  </div>
  <div class="panel-body">
    <form role="form" {{action "createTransaction" on="submit"}}>
      <fieldset>
        <div class="form-group">
          <label for="description">Description</label>
          {{input value=description required="required" class="form-control" id="description"  type="text"}}
        </div>
        <div class="form-group">
          <label for="amount">Amount</label>
          {{input value=amount required="required" class="form-control" id="amount" type="number" step="1"}}
        </div>
        <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Add Transaction</button>
        {{link-to 'Cancel' 'account' model class="btn btn-default"}}
      </fieldset>
    </form>
  </div>
</div>
