{{nav-bar title="Add Account" back-route="accounts"}}
{{#paper-content class="md-padding"}}
  <form {{action "createAccount" on="submit"}}>
    <div class="layout-column flex">
      {{paper-input value=name required=true
        placeholder="choose an account name, e.g. eating out" onChange=(action "updateName")}}
      {{#paper-button type="submit" primary=true raised=true}}
        {{paper-icon icon="add"}}
        Add Account
      {{/paper-button}}
    </div>
  </form>
{{/paper-content}}
